body{
    font-family: Arial;
    margin: 0;
  }
  
  .banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  nav{
    background: #111;
    padding: 10px;
  }
  
  nav a{
    color: white;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .post{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .iwd-admin{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  